<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="root">

        <span> Homenique </span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">

            <a class="nav-item nav-link " routerLink="/category/0">
                Furniture
            </a>
            <a class="nav-item nav-link" routerLink="/category/1">
                Bed&Mattresses
            </a>
            <a class="nav-item nav-link " routerLink="/category/2">
                Storage
            </a>
            <a class="nav-item nav-link" routerLink="/category/3">
                Appliances
            </a>

        </div>

        <div class="navbar-nav ml-auto">
            <a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item nav-link " routerLink="/cart">
                <i class="fas fa-shopping-cart"></i>Cart
            </a>

            <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Manager">

                <a class="nav-item nav-link" routerLink="/discount">Discount</a>
                <a class="nav-item nav-link" (click)=getUsers() routerLink="/admin/user">Users</a>
                <a class="nav-item nav-link" routerLink="/seller/product">Stocks</a>
            </div>

            <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Customer">
                <a class="nav-item nav-link" routerLink="/wishlist">Wishlist</a>
            </div>

            <ng-container *ngIf="currentUser; else noUser">

                <a class="nav-item nav-link " routerLink="/order">
                    <i class="fas fa-list-ul"></i>Orders
                </a>
                <a class="nav-item nav-link " routerLink="/profile">
                    {{name}}
                </a>
                <a class="nav-item nav-link " (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
                    SignOut
                </a>
            </ng-container>
            <ng-template #noUser>
                <a class="nav-item nav-link " routerLink="/login">
                    LogIn
                </a>
                <a class="nav-item nav-link " routerLink="/register">
                    SignUp
                </a>
            </ng-template>

        </div>
    </div>
</nav>